In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.multioutput import MultiOutputClassifier

In [ ]:
# Import the data

In [3]:
dataframe = pd.read_csv('heart.csv')

In [9]:
dataframe.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [13]:
df1 = dataframe.iloc[:, [0, 1]]
df2 = dataframe.iloc[:, [3, 4]]

combined = pd.concat([df1, df2], axis=1, sort=False)
df_array = combined.to_numpy()

combined.head()

   age  sex  trtbps  chol
0   63    1     145   233
1   37    1     130   250
2   41    0     130   204
3   56    1     120   236
4   57    0     120   354

In [36]:
X = df_array[:, 2:4]
y = df_array[:, 2]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)


scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize the KNN classifier
k = 5  # Number of neighbors
knn_classifier = KNeighborsClassifier(n_neighbors=k)


# Train the classifier
knn_classifier.fit(X_train_scaled, y_train)

# Predict on the test set
y_pred = knn_classifier.predict(X_test_scaled)

# Evaluate the model
accuracy = knn_classifier.score(X_test_scaled, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.42105263157894735